@charset "utf-8";
/* CSS Document */

#netconfig_tb,#sysconfig_tb,#approve_tb,#redeem_tb,#users_tb,#mlm_tb,#premiumusers_tb,#credit_tb,#incentives_tb,#premiumdp_tb,
#email_tb,#sms_tb,#enquiry_tb,#complaints_tb,#tickets_tb,#payments_tb,#jobs_tb,#ad_tb,#editjobtb
{
	width:80%;
	border-collapse:collapse;
	border-top-color:#090;
	font-family: Candara;
	border-radius: 10px 10px 1px 1px;
	margin:auto;
	
}
.inner-tb{
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;	
}

td.logoheader{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	
}
h1{
	text-align:left;
	font-family:Candara;
	font-size:16px;
}
#jobposttb{
	width:100%;
	border-collapse:collapse;
	border-top-color:#090;
	font-family: Candara;
	margin:auto;
}
#jobtbinfo{
	
	width:100%;
	-webkit-border-radius: 10px 2px 2px 10px;
-moz-border-radius: 27px 24px 26px 25px;
border-radius: 4px 4px 4px 4px;
border:2px solid #CCC;
background:rgba(205,194,100,0,4);
-webkit-box-shadow: #1FBFF0 4px 4px 4px;
-moz-box-shadow: #1FBFF0 1px 4px 4px; 
box-shadow: #1FBFF0 4px 4px 4px;
	font-family:Arial;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	
}
#admintb {
	width:80%;
	border-radius: 4px 4px 4px 4px;
border:2px solid #CCC;
}
#editjobinfo{
	
	width:60%;
	-webkit-border-radius: 10px 2px 26px 25px;
-moz-border-radius: 27px 24px 26px 25px;
border-radius: 10px 10px 10px 10px;
border:2px solid #CCC;
background:rgba(205,194,100,0,4);
-webkit-box-shadow: #1FBFF0 4px 4px 4px;
-moz-box-shadow: #1FBFF0 1px 4px 4px; 
box-shadow: #1FBFF0 4px 4px 4px;
	font-family:Arial;
	margin:auto;
	
}
#menuinfotb{
	width:80%;
	-webkit-border-radius: 10px 2px 26px 25px;
-moz-border-radius: 27px 24px 26px 25px;
border-radius: 10px 10px 10px 10px;
border:2px solid #CCC;
background:rgba(205,194,100,0,4);
-webkit-box-shadow: #1FBFF0 4px 4px 4px;
-moz-box-shadow: #1FBFF0 1px 4px 4px; 
box-shadow: #1FBFF0 4px 4px 4px;
font-family:Arial;
margin:auto;
}
#menupreferencetb{
	width:80%;
	border-radius: 10px 10px 1px 1px;
border:2px solid #CCC;
background:rgba(205,194,100,0,4);
height:300px;
margin:auto;

}
#mlmusertb,#premiumuser,#webuserstb,#commissioninfotb,#systemconfigtb,#approvalinfotb,#redeeminfotb,#adinfotb,#emailinfotb,#ticketinfotb,#complaintinfotb,#enquiryinfotb,#smsinfotb,#premiumdepositinfotb,#incentivesinfotb,#creditpaymenttb,#paymentsinfotb{
 	width:80%;
	-webkit-border-radius: 10px 2px 26px 25px;
-moz-border-radius: 27px 24px 26px 25px;
border-radius: 10px 10px 1px 1px;
border:2px solid #CCC;
background:rgba(205,194,100,0,4);
-webkit-box-shadow: #1FBFF0 4px 4px 4px;
-moz-box-shadow: #1FBFF0 1px 4px 4px; 
box-shadow: #1FBFF0 4px 4px 4px;
font-family:Arial;
margin:auto;
}

#footer{
	background-color:#006;
	color:#FFF;
	border-radius: 1px 1px 10px 10px;
	height:50px;
}

#menutab {
margin:auto;	
}

	