 label.error {
	float: none; 
	color: red; 
   vertical-align: top; 
   display: block;
}

#templatemo_footer_wrapper {
	clear: both;
	height: 85px;
	background-color: #A2A2A2;
}

#templatemo_footer {
	clear: both;
	width: 900px;
	height: 55px;
	padding: 15px 30px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background-color: #A2A2A2;
}

#templatemo_footer a {
	font-weight: normal;
	color: #fff;
}

em {
font-size: 15px;
font-weight: bold;
color: #FF0000;
}

.message {
	color: red;
	text-align: center;	
}

input.error { border: 1px solid red;
background-color: #FFEBEB;
}