 label.error {
	float: none; 
	color: red; 
   vertical-align: top; 
   display: block;
}

#templatemo_footer_wrapper {
	clear: both;
	height: 85px;
	
	width:80%; 
	margin:auto;
}

#templatemo_footer {
	clear: both;
	width: 80%;
	height: 55px;
	padding: 15px 30px;
	margin:auto;
	text-align: center;
	color:maroon;
	
}

#templatemo_footer a {
	font-weight: normal;
	color: #CCC;
	margin: auto;
}

em {
font-size: 15px;
font-weight: bold;
color: #FF0000;
}

.message {
	color: red;
	text-align: center;	
}

input.error { border: 1px solid red;
background-color: #FFEBEB;
}

td.siteheadercells{
	width:30%;
}

#site_title  {
    background-image:url("../images/JBS_LOGO.png");
    background-size:220px 40px;
background-repeat:no-repeat;
padding-top: 50px
}
#site_title1  {
    background-image: url("../images/joblogo1.png") ;
     background-size:220px 40px;
background-repeat:no-repeat;
padding-top: 70px
  
}

#site_title2  {
  background-image: url("../images/joblogo3.png") ;
     background-size:220px 40px;
background-repeat:no-repeat;
padding-top: 70px
}
.formerror{
	color: red;
}

#addjob {

width:80%;
	
	border-radius: 3px 3px 3px 3px;
	border:0px solid #CCC;
	box-shadow:  4px 4px 4px 4px;
	font-size: 14px;
	font-family:Arial;	
	margin:auto;
	
}
#jobListDiv,#commissionListDiv,#systemConfigDiv{
	
	width:80%;
	border-radius: 3px 3px 3px 3px;
	border:0px solid #CCC;
	box-shadow:  4px 4px 4px 4px;
	font-size: 14px;
	font-family:Arial;	
	margin:auto;
	
}
tr.blank{
	
}

td.degreeSelector{
	margin: 30px;
	vertical-align: middle;
}
td.qualificationLable{
	margin: 0;
	vertical-align:top;
}

table.settings td{
	
 padding: 7px;	
 border-width: thick;
}

.example {
			color: #FFF;
			cursor: pointer;
			padding: 2px;
			border-radius: 4px;
			background: #888;
			float: left;
}
		
.example:after {
			font-family: Consolas, Courier New, Arial, sans-serif;
			margin-left: 6px;
			color: #08c;
}
		
				
.example.dropdown-open {
			background: blue;
			color: #FFF;
}
		
.example.dropdown-open:after {
			color: #FFF;
}

.logout A {
	background-image: url("../images/door-open-out.png"); 
	background-repeat: no-repeat;
}

#profiletable{
	width:100%;
	background-color:C2E8EF;
	font-size: 12px;
	font-family:Arial;
	margin:0px;
	border:20px solid #CCC;
	border-radius: 12px 12px 12px 12px;
	padding: 40px;
	
	
}

  #outer { 
  text-align: center; 
  }
  #inner { 
  text-align: left; 
  margin: 0 auto; 
  
  }
  .t { 
  float: left; 
   width:30%; 
  }
  table { 
  border: 2px solid #CCC;
border-radius: 2px 2px 2px 2px;
 
  }
 #adjobtb,#jobdivtb{
   width:80%;
   border: 2px solid #CCC;
 }
#userdiv1{
	background-image: url("../images/Ad_mlm.png");
	background-size:250px 150px;
	background-repeat:no-repeat;
	padding-top: 180px;
	text-align:center;
}