 label.error {
	float: none; 
	color: red; 
   vertical-align: top; 
   display: block;
}

#templatemo_footer_wrapper {
	clear: both;
	height: 85px;
	background-color: #A2A2A2;
}

#templatemo_footer {
	clear: both;
	width: 900px;
	height: 55px;
	padding: 15px 30px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background-color: #A2A2A2;
}

#templatemo_footer a {
	font-weight: normal;
	color: #fff;
}

em {
font-size: 15px;
font-weight: bold;
color: #FF0000;
}

.message {
	color: red;
	text-align: center;	
}

input.error { border: 1px solid red;
background-color: #FFEBEB;
}

td.siteheadercells{
	width:30%;
}

#site_title  {
    background-image:url("../images/JBS_LOGO.png");
    background-size:220px 40px;
background-repeat:no-repeat;
padding-top: 50px
}
#site_title1  {
    background-image: url("../images/joblogo1.png") ;
     background-size:220px 40px;
background-repeat:no-repeat;
padding-top: 70px
  
}

#site_title2  {
  background-image: url("../images/joblogo3.png") ;
     background-size:220px 40px;
background-repeat:no-repeat;
padding-top: 70px
}
.formerror{
	color: red;
}

#addjob {

width:80%;
	
	border-radius: 3px 3px 3px 3px;
	border:0px solid #CCC;
	box-shadow:  4px 4px 4px 4px;
	font-size: 14px;
	font-family:Arial;	
	margin:auto;
	
}
#jobListDiv,#commissionListDiv{
	
	width:80%;
	border-radius: 3px 3px 3px 3px;
	border:0px solid #CCC;
	box-shadow:  4px 4px 4px 4px;
	font-size: 14px;
	font-family:Arial;	
	margin:auto;
	
}
tr.blank{
	
}

td.degreeSelector{
	margin: 30px;
	vertical-align: middle;
}
td.qualificationLable{
	margin: 0;
	vertical-align:top;
}

table.settings td{
	
 padding: 7px;	
 border-width: thick;
}