@charset "utf-8";
/* CSS Document */

#indextb{
	width:1100px;
	background:rgba(205,194,100,0,4);
	font-size: 14px;
	font-family:Arial;
	margin:auto;
	border:1px solid #CCC;
	border-radius: 10px 10px 1px 1px;
}
#passwordtb{
	width:80%;
	background:rgba(205,194,100,0,4);
	margin:auto;
	border:1px solid #CCC;
	border-radius: 2px 2px 2px 2px;
}

#forgottb{
	width:100%;
	background-color:#fff;
	margin:auto;
	border:2px solid thick;
	border-radius: 2px 2px 2px 2px;
	padding:0px;
}

#changetb{
	width:100%;
	background-color:#fff;
	margin:auto;
	border:2px solid thick;
	border-radius: 2px 2px 2px 2px;
	font-size: 12px;
	
}


#pwdtb,#useridtb{
	width:60%;
	background-color:#E6E1F4;
	margin:auto;
	border:2px solid thin;
	border-radius: 2px 2px 2px 2px;
	padding: 0px;
}

#jobdetail{
	
	width:80%;
	background:rgba(205,194,100,0,4);
	font-size: 14px;
	font-family:Arial;
	
	border:1px solid #CCC;
	border-radius: 10px 10px 1px 1px;
	
	
}
#enquirytable{
	width:80%;
	background:rgba(205,194,100,0,4);
	font-size: 14px;
	font-family:Arial;
	margin:auto;
	border:1px solid #CCC;
	border-radius: 10px 10px 1px 1px;
}
#scroller{
	border:10px solid #CCC;
	border-radius: 10px 10px 10px 10px;
}

#infotb{
	width:100%;
	background:rgba(205,194,100,0,4);
	font-size: 10px;
	font-family:Arial;
	border:2px solid #CCC;
	border-radius: 10px 10px 10px 10px;
	margin: auto;
	text-align: center;
}
#plugintb{
	
	width:100%;
	background:rgba(205,194,100,0,4);
	font-size: 10px;
	font-family:Arial;
	border:2px solid #CCC;
	border-radius: 10px 10px 10px 10px;
	margin:auto;
	text-align: center
}
	
#adbanner{
	width:100%;
	height:30%;
	margin:auto;
	text-align: center;
}

#jobtb{
	width:100%;
	border:0px solid #CCC;
	border-radius: 10px 10px 10px 10px;
	font-size: 12px;
	font-family:Arial;
	margin:auto;
	
	
}

td.joblist{
	width:20%;
	text-align: justify;
}
td.cationinfo{
 font-family:Candara;
 font-size:14px;
 font-weight:bold;
 margin:auto;
 background-color:#DCE0FA;
 text-align:left;
 
 	
}

td.jobheading{
	 background-color:#DCE0FA;
}


#indexjobinfo{
	
	border:2px solid #CCC;
	font-family:Candara;
	font-size:15px;
	color: #004364;
	border-radius: 4px 4px 4px 4px;
	margin: auto;
	
}
#userjobinfo{
	width:80%;
	border:2px solid #CCC;
	font-family:Candara;
	font-size:15px;
	color: #004364;
	border-radius: 4px 4px 4px 4px;
	margin: auto;
	
}
.t1 { 
  float: left; 
   width:100%; 
  }
#govttb{
	width:50%;
	border:0px solid #CCC;
	border-radius: 1px 1px 10px 10px;
	font-size: 12px;
	font-family:Arial;
	margin:auto;
	font-weight: bold;
	float: left;
	
	
}
#privatetb{
	width:50%;
	border:0px solid #CCC;
	border-radius: 1px 1px 10px 10px;
	font-size: 12px;
	font-family:Arial;
	margin:auto;
	font-weight: bold;
	float:left;
	
	
}
td.jobheading{
	
	font-size:15px;
}
td.pvtinfo{
 font-weight:bold;	
 text-align:left;
}

#jobsearch,#hiringlogo{
	width:100%;
	border:0px solid #CCC;
	border-radius: 1px 1px 10px 10px;
	margin:auto;
	text-align: left;
	font-size:14px;
}

td.searchbox{
	font-size:12px;
}
td.adimg{
	float: right;
}

td.imgholder{
	float: left;
	
}
tr.footer{

 border-bottom-color:#000;
}



#logo{
	height:30px;
	width:220px;


}

td.menutd{
   width:15%;	
   text-align:center;
   color:#FFF;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   
}
a.menulink{
	color:#FFF;
}

.message {
	color: red;
}

#applyjobdiv{
	text-align: center;
}