@charset "utf-8";
/* CSS Document */

#indextb{
	width:80%;
	background:rgba(205,194,100,0,4);
	font-size: 14px;
	font-family:Arial;
	margin:auto;
	border:1px solid #CCC;
	border-radius: 10px 10px 1px 1px;
}
#jobdetail{
	
	width:80%;
	background:rgba(205,194,100,0,4);
	font-size: 14px;
	font-family:Arial;
	margin:auto;
	border:1px solid #CCC;
	border-radius: 10px 10px 1px 1px;
	
}
#enquirytable{
	width:80%;
	background:rgba(205,194,100,0,4);
	font-size: 14px;
	font-family:Arial;
	margin:auto;
	border:1px solid #CCC;
	border-radius: 10px 10px 1px 1px;
}
#scroller{
	border:10px solid #CCC;
	border-radius: 10px 10px 10px 10px;
}

#infotb{
	width:100%;
	background:rgba(205,194,100,0,4);
	font-size: 10px;
	font-family:Arial;
	border:2px solid #CCC;
	border-radius: 10px 10px 10px 10px;
	margin: auto;
	text-align: center;
}
#plugintb{
	
	width:100%;
	background:rgba(205,194,100,0,4);
	font-size: 10px;
	font-family:Arial;
	border:2px solid #CCC;
	border-radius: 10px 10px 10px 10px;
	margin:auto;
	text-align: center
}
	
#adbanner{
	width:100%;
	height:30%;
	margin:auto;
	text-align: center;
}

#jobtb{
	width:100%;
	border:2px solid #CCC;
	border-radius: 10px 10px 10px 10px;
	font-size: 12px;
	font-family:Arial;
	margin:auto;
	
	
}

td.joblist{
	width:20%;
	text-align: justify;
}
td.cationinfo{
 font-family:Candara;
 font-size:14px;
 font-weight:bold;
 margin:auto;
 background-color:#DCE0FA;
 text-align:left;
 
 	
}

td.jobheading{
	 background-color:#DCE0FA;
}

#govttb{
	width:100%;
	border:2px solid #CCC;
	border-radius: 1px 1px 10px 10px;
	font-size: 12px;
	font-family:Candara;
	margin:auto;
	font-weight: bold;
	
}

#jobinfo{
	
	font-family:Candara;
	font-size:15px;
	color: #004364;
	border-color: purple;
	
}
#govttb2{
	width:80%;
	border:2px solid #CCC;
	border-radius: 1px 1px 10px 10px;
	font-size: 12px;
	font-family:Arial;
	margin:auto;
	font-weight: bold;
	text-align: left;
	
}
#privatetb{
	width:100%;
	border:2px solid #CCC;
	border-radius: 1px 1px 10px 10px;
	font-size: 12px;
	font-family:Candara;
	margin:auto;
	font-weight: bold;
	
}
td.jobheading{
	
	font-size:15px;
}
td.pvtinfo{
 font-weight:bold;	
 text-align:left;
}

#jobsearch,#hiringlogo{
	width:100%;
	border:2px solid #CCC;
	border-radius: 1px 1px 10px 10px;
	margin:auto;
	text-align: left;
	font-size:14px;
}

td.searchbox{
	font-size:12px;
}
td.adimg{
	float: right;
}

td.imgholder{
	float: left;
	
}
tr.footer{

 border-bottom-color:#000;
}



#logo{
	height:30px;
	width:220px;


}

td.menutd{
   width:15%;	
   text-align:center;
   color:#FFF;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   
}
a.menulink{
	color:#FFF;
}
